body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #fff;
}

html {
  height: -webkit-fill-available;
}
/* For the side bar */
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.container {
  overflow-y: scroll;
}

#footer {
  background-color: #fff;
}
.barColor {
  background-color: rgba(159, 191, 167, 0.5);
}
